<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin CSS Script</title>
</head>
<body>
<script th:fragment="cssScript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script th:fragment="cssScript" th:src="@{/js/core/popper.min.js}"></script>
<script th:fragment="cssScript" th:src="@{/js/core/bootstrap.min.js}"></script>
<script th:fragment="cssScript" th:src="@{/js/plugins/perfect-scrollbar.min.js}"></script>
<script th:fragment="cssScript" th:src="@{/js/plugins/smooth-scrollbar.min.js}"></script>
<script th:fragment="cssScript" th:src="@{/js/plugins/chartjs.min.js}"></script>

</body>
</html>