<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS Script Component</title>
</head>
<body>
<script th:fragment="cssScript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script th:fragment="cssScript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script th:fragment="cssScript" th:src="@{/js/easing/easing.min.js}"></script>
<script th:fragment="cssScript" th:src="@{/js/waypoints/waypoints.min.js}"></script>
<script th:fragment="cssScript" th:src="@{/js/owlcarousel/owl.carousel.min.js}"></script>
<script th:fragment="cssScript" th:src="@{/js/tempusdominus/js/moment.min.js}"></script>
<script th:fragment="cssScript" th:src="@{/js/tempusdominus/js/moment-timezone.min.js}"></script>
<script th:fragment="cssScript" th:src="@{/js/tempusdominus/js/tempusdominus-bootstrap-4.min.js}"></script>

<!-- Contact Javascript File -->
<script th:fragment="cssScript" th:src="@{js/jqBootstrapValidation.min.js}"></script>

<!-- Template Javascript -->
<script th:fragment="cssScript" th:src="@{/js/main8.js}"></script>
</body>
</html>