<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Menu Component</title>
</head>
<body>
<div th:fragment="menu" class="container-fluid pt-5">
    <div class="container">
        <div class="section-title">
            <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Menu & Pricing</h4>
            <h1 class="display-4">Competitive Pricing</h1>
        </div>
        <div class="row">

            <th:block th:each="pro : ${product}">
                <div class="col-lg-6 d-flex align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="rounded-circle mb-3 mb-sm-0"
                             th:src="@{'/images/userPages/' + ${pro.getAvatar()}}" alt="" style="width: 100px; height: 100px">
                        <h5 th:id="${'price-' + pro.getProductId()}" th:text="${'$' + pro.getPriceS()}"
                            class="menu-price"></h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <form action="/cart/add" method="post">
                            <input name="productId" th:value="${pro.getProductId()}" hidden="hidden">
                            <h4 th:text="${pro.getProductName()}"></h4>
                            <p class="m-0" th:text="${pro.getProductDescription()}"></p>
                            <div class="col-sm-12 d-flex justify-content-between align-items-center mt-2">
                                <div class="col-sm-3" th:hidden="${user == null}">
                                    <select th:id="${'sizeSelect-' + pro.getProductId()}"
                                            class="custom-select w-100 rounded sizeSelect" name="size">
                                        <option th:name="${pro.getPriceS()}" value="1">S
                                        </option>
                                        <option th:name="${pro.getPriceM()}" value="2">M
                                        </option>
                                        <option th:name="${pro.getPriceL()}" value="3">L
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-3 d-flex justify-content-center align-content-center">
                                    <button type="button" class="btn btn-link px-2"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()" th:hidden="${user == null}">
                                        <i class="fas fa-minus"></i>
                                    </button>

                                    <input min="1" name="quantity" value="1" type="number" style="width: 40px"
                                           th:hidden="${user == null}"/>

                                    <button type="button" class="btn btn-link px-2"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()" th:hidden="${user == null}">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <div class="col-sm-3" th:hidden="${user == null}">
                                    <button type="submit" class="btn btn-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-cart" viewBox="0 0 16 16">
                                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                                        </svg>
                                        Add
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </th:block>

        </div>
    </div>
</div>
</body>
</html>